

header
{
    /* flexbox pour aligner mon entete en fonction de mes besoins */
    display: flex;
    justify-content: flex-end;
}
footer
{
  display: flex;
  justify-content: center ;
}


#googleImage img
{
  width: 390px;
  height: 300px;
}
