



header
{
    /* flexbox pour aligner mon entete en fonction de mes besoins */
    display: flex;
    justify-content: flex-end;
}
#googleImage img
{


  width: 390px;
  height: 300px;}

  #googleImage
  {
    display: flex;

    flex-direction: column ;
    align-items: center;
}

a
{
    text-decoration: none;
    color: #061539;
}





footer
{
  display: flex;
  justify-content: center ;
}
